*{
    margin: 0%;
    padding: 0%;
}


body{
    background-color: rgb(33, 13, 4);
}

.container{
    width: 80%;
    margin: auto;
    min-height: 100vh;
    background-color: rgb(242, 236, 225);
}

.tag{
    background-color: rgb(65, 3, 51);
    width: 31%;
    font: 100 1.2rem  sans-serif;
    color: aliceblue;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    box-sizing: border-box;
    transition: all 0.5s;
    /* transition: background-color 0.4s; */
}

.tag:hover {
    transform: translateY(-10px);
    background-color:rgb(1, 37, 10);

}

input{
    padding: 15px;
    /* margin-top: 20px;
    margin-left: 15px; */

    margin: 25px;
    border: 2px solid rgb(251, 212, 212);
    width: 75%;
    box-sizing: border-box;
    outline: none;
    font: 100 1.2rem "Lucida Sans";
    
}

button{
    padding: 13px;
    margin: 5px;
    background-color: rgb(50, 9, 85);
    font: 100 1.2rem "Lucida Sans" ;
    color: #eee2f3;
    box-sizing: border-box;
    cursor: pointer;
    transition: background-color 0.4s;
    width: 12%;
}


button:hover{
    background-color:rgb(113, 92, 10);
}

body{
    padding: 10px;
    margin: 10px;
}

.tags{
    display: flex;
    /* border: 1px solid brown; */
    flex-wrap: wrap;
    margin-left: 15px;

}